{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 20%;
        left: 60%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 45px;
        color: darkgoldenrod
        
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}